language: node_js

sudo: false

notifications:
  email: false

git:
  depth: 1

node_js:
  - '10'

before_install:
  - npm update

install:
  - npm install --prefix ./server/
  - npm install --prefix ./contracts/ethereum/

script:
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ./travis/run_on_pull_requests.sh; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./travis/run_on_non_pull_requests.sh; fi'
